body{
    padding: 20px;
    --font: "Segoe Print", sans-serif;
}

a, p, button, input, textarea, select, label, h2{
    font-family: var(--font);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #F37E98;
}

button{
    background: #EDDC67;
    border: none;
    height: 40px;
    margin: 20px 0;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
    min-width: fit-content;
}

button:hover{
    background: #F37E98;
}

.text-with-icon{
    display: flex;
    align-items: center;
    margin: 5px;
}

.text-with-icon img{
    width: 20px;
    height: 20px;
    margin: 10px;
}

img{
    object-fit: cover;
}

/*region header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar, #profile{
    display: flex;
    align-items: center;
}

#nav-bar a, #profile a{
    font-size: 24px;
    margin: 10px 20px;
}

#profile a{
    font-size: 16px;
    /*display: block;*/
    margin: 5px;
}

#profile{
    margin-right: 20px;
}

#logo, #avatar{
    margin: 10px;
}

#logo{
    width: 90px;
    height: 90px;
}

#avatar{
    width: 70px;
    height: 70px;
}
/*endregion*/

/*region layout*/
#layout{
    display: grid;
    grid-template-columns: 20% auto 20%;
}

#layout-wishlist{
    display: grid;
    grid-template-columns: 20% auto;
}

/*region side-bar*/
#side-bar{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#side-bar p{
    font-size: 20px;
    margin-left: 10px;
}

#side-bar .text-with-icon a{
    font-size: 24px;
}

#side-bar button{
    width: 100%;
}

/*endregion*/

/*region wishes area*/
#wishlist{
    padding: 20px;
}

/*region wishlist header*/
#wishlist-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wishlist-description{
    display: inline-flex;
    align-items: center;
}

#wishlist-title{
    font-size: 36px;
    margin: 10px;
}
/*endregion*/

#wishes, #will-give{
    display: flex;
    flex-wrap: wrap;
}

#will-give{
    padding: 20px;
    width: 80%;
}

#other-user-wishlist{
    width: 80%;
    padding: 20px;
}

#other-user-wishlist-header{
    display: flex;
}

#save-other-user-wishlist{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
/*endregion*/

/*region add/edit/about wish*/
#add-wish-form, #present-description{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid black;
    height: fit-content;
}

input, textarea, select{
    margin: 10px 0;
    padding: 5px;
}

#present-description p{
    margin: 0;
    padding: 5px;
}

#present-description p:not(#name){
    border: 1px solid black;
    min-height: 28px;
}

#present-description #name {
    font-size: x-large;
}

#present-description label{
    color: #777777;
    margin-top: 10px;
}

#save-wish-button{
    width: 100%;
    margin-left: 0;
}

#info{
    display: flex;
}

#properties{
    width: fit-content;
    margin-left: 10px;
}

#reserve-checkbox{
    margin: 10px;
}

#reserve-checkbox label{
    margin-left: 5px;
}

#close-button{
    background: none;
    position: absolute;
    right: 48px;
    top: 105px;
}
/*endregion*/

/*endregion*/

/*region wish-card*/
.wish, #add-wish-button{
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    background: none;
    margin: 10px;
    border: 3px solid #F37E98;
    cursor: pointer;
}

.wish-img{
    width: 250px;
    height: 250px;
}

.wish-description{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-top: none;
}

.wish-name{
    margin: 10px;
    font-size: 20px;
}

.wish-price{
    margin: 10px;
    color: #777777;
    font-size: 16px;
}

.delete-button{
    float: bottom;
    height: 15px;
    font-size: 10px;
    margin: 0;
    width : 10px
}


#add-wish-button{
    justify-content: center;
    text-align: center;
}

#add-wish-button:hover, .wish:hover{
    border-color: #EDDC67;
}

#plus{
    font-size: 100px;
    margin: 0;
}

.will-give-wish{
    height: fit-content;
}

.will-give-wish .text-with-icon p{
    font-size: 14px;
}

.will-give-wish .text-with-icon p, .will-give-wish .text-with-icon .icon{
    margin: 0 10px;
}
/*endregion*/

/*region add wishlist*/
#wishlist-header input, #wishlist-header button{
    margin: 10px 15px;
}

#save-wishlist-button{
    height: 50px;
    width: 160px;
}

#wishlist-header input{
    font-size: 20px;
    height: 40px;
}

#wishlist-header input[type='date']{
    font-size: 15px;
}
/*endregion*/

/*region share*/
#sharing-area{
    position: relative;
}

#share-button{
    float: right;
    cursor: pointer;
}

#share-window{
    height: 0;
    overflow: hidden;
    position: absolute;
    margin-top: 70px;
    right: 0;
    min-width: 100%;
    visibility: hidden;
    border: 1px solid black;
    padding: 5px;
    background: white;
}

#share-link {
    border: 3px solid #EDDC67;
    font-weight: bold;
    padding: 5px;
}

/*endregion*/