<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<header th:fragment="header">
  <section id="nav-bar">
    <img src="/img/logo.png" th:src="@{/img/logo.png}" alt="Logo" id="logo">
    <a th:attr="onclick=|renderMainPage()|">Мои вишлисты</a>
    <a th:attr="onclick=|renderWillGivePage()|">Буду дарить</a>
  </section>
  <section id="profile">
<!--    <img src="/img/avatar-default.jpg" th:src="@{/img/avatar-default.jpg}" alt="avatar" id="avatar">-->
      <a th:href="@{/logout}">Выход</a>
  </section>
</header>

</body>

</html>