<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<section id="wishlist" th:fragment="wishlist (name, wishes, wishListId)">
  <section id="wishlist-header">
    <section id="wishlist-description">
      <p id="wishlist-title" th:text="${name}"></p>
      <!--                <div class="text-with-icon">-->
      <!--                    <img src="/img/clock.png" alt="">-->
      <!--                    <p>1 мая 2023</p>-->
      <!--                </div>-->
    </section>
  </section>

  <section id="wishes">
    <article class="wish other" th:each="wish : ${wishes}" th:attr="onclick=|getWishDescription('${wishListId}', '${wish.getId()}')|">
      <img src="${wish.getBase64Image()}" th:src="${wish.getBase64Image()}" alt="" class="wish-img">
      <section class="wish-description">
        <p class="wish-name" th:text="${wish.getName()}"></p>
        <p class="wish-price" th:text="${wish.getPrice()} + ' руб.'" th:if="${wish.getPrice() != null}"></p>
      </section>
      <p th:each="status : ${T(com.example.wishlist.enums.WishStatus).values()}"
         th:text="${status.displayValue}"
         th:if="${wish.getStatus()} == ${status}"
         th:class="${wish.getStatus() == T(com.example.wishlist.enums.WishStatus).Taken} ? 'wish-status taken' : 'wish-status'"></p>
    </article>
  </section>
</section>

</body>
</html>