<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<section id="wishlist" th:fragment="wishlist (name, wishes, wishListId)">
    <section id="wishlist-header">
        <section id="wishlist-description">
            <p id="wishlist-title" th:text="${name}"></p>
        </section>
        <div id="sharing-area">
            <div class="text-with-icon" th:attr="onclick=|shareWishList('${wishListId}')|" id="share-button">
                <img src="/img/share.png" alt="">
                <p>Поделиться</p>
            </div>
            <div id="share-window">
                <p>Скопируйте эту ссылку и отправьте её друзьям, чтобы поделиться с ними своим вишлистом</p>
                <p id="share-link"></p>
            </div>
        </div>
    </section>

    <section id="wishes">
        <article class="wish" th:each="wish : ${wishes}" th:attr="onclick=|editWish('${wishListId}', '${wish.getId()}')|">
            <img src="${wish.getBase64Image()}" th:src="${wish.getBase64Image()}" alt="" class="wish-img">
            <section class="wish-description">
                <p class="wish-name" th:text="${wish.getName()}"></p>
                <p class="wish-price" th:text="${wish.getPrice()}"></p>
            </section>
        </article>
        <article id="add-wish-button" th:attr="onclick=|addWish('${wishListId}')|" >
            <p id="plus">+</p>
            <p>Добавить желание</p>
        </article>
    </section>
</section>

</body>
</html>