<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Новый виш лист</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<script type="text/javascript" th:src="@{/main.js}"></script>

<div th:replace="~{fragments/header :: header}"></div>

<div id="layout">
  <div th:replace="~{fragments/side-bar :: side-bar (wishlists=${wishlists})}"></div>
  <div id="wishlist">
    <div id="wishlist-description">
      <form id="wishlist-header" th:action="@{/wishlist}" method="post">
        <input placeholder="Название" name="name">
<!--        <input type="date" id="start" name="wishlist-due-date"-->
<!--               value="2022-11-01">-->
        <button type="submit" id="save-wishlist-button">Сохранить</button>
      </form>
    </div>
    </div>
  </div>
</div>

</body>
</html>