<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>AddWish</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
<script type="text/javascript" th:src="@{/main.js}"></script>
<div th:replace="~{fragments/header :: header}"></div>

<div id="layout">
  <div th:replace="~{fragments/side-bar :: side-bar (wishlists=${wishlists})}"></div>
  <div th:replace="~{fragments/wishlist :: wishlist (name=${name}, wishes=${wishes}, wishListId=${wishListId})}"></div>

  <form id="add-wish-form" th:action="@{/wish/{wishListId}(wishListId=${wishListId})}" method="post">
    <input placeholder="Желание" required name="name">
    <input type="number" placeholder="Цена" name="price">
    <input placeholder="Ссылка" name="link">
<!--    <select name="priority">-->
<!--      <option>Высокий</option>-->
<!--      <option>Средний</option>-->
<!--      <option>Низкий</option>-->
<!--    </select>-->
    <textarea placeholder="Описание" name="description"></textarea>

    <button id="save-wish-button" type="submit">Добавить желание</button>
  </form>

</div>

</body>
</html>