<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">-->
<!--<head>-->
<!--    <title>Spring Security Example </title>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="/main.css">-->
<!--</head>-->
<!--<body>-->
<!--<main>-->
<!--    <img src="/img/logo.png" th:src="@{/img/logo.png}" alt="">-->
<!--    <h2>Вход</h2>-->
<!--    <form th:action="@{/login}" method="post" id="login-form">-->
<!--        <label for="email">Email</label>-->
<!--        <input type="text" name="email" id="email"/>-->
<!--        <label for="password">Пароль</label>-->
<!--        <input type="password" name="password" id="password"/>-->
<!--        <button type="submit">Войти</button>-->
<!--    </form>-->
<!--</main>-->

<!--</body>-->
<!--</html>-->
