<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${name}"></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
  <section id="wishlist" th:fragment="wishlist (name, wishes, wishListId)">
    <section id="other-user-wishlist-header">
      <section id="wishlist-description">
        <p id="wishlist-title" th:text="${name}"></p>
        <!--                <div class="text-with-icon">-->
        <!--                    <img src="/img/clock.png" alt="">-->
        <!--                    <p>1 мая 2023</p>-->
        <!--                </div>-->
      </section>
      <form method="POST" th:action="@{/wishlist/present/{wishListId}(wishListId=${wishListId})}" id="save-other-user-wishlist">
        <button type="submit">Сохранить</button>
      </form>
    </section>

    <section id="wishes">
      <article class="wish" th:each="wish : ${wishes}" th:attr="onclick=|editWish('${wishListId}', '${wish.getId()}')|">
        <img src="/img/gift-default.png" th:src="@{/img/gift-default.png}" alt="" class="wish-img">
        <section class="wish-description">
          <p class="wish-name" th:text="${wish.getName()}"></p>
          <p class="wish-price" th:text="${wish.getPrice()}"></p>
        </section>
      </article>
    </section>
  </section>
</main>

</body>
</html>