<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${name}"></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
  <section id="wishlist">
    <section id="other-user-wishlist-header">
      <section id="wishlist-description">
        <p id="wishlist-title" th:text="${name}"></p>
          <div class="text-with-icon">
              <img src="/img/clock.png" alt="">
              <p th:text="${wishlistDate}"></p>
          </div>
      </section>
      <form method="POST" th:action="@{/wishlist/present/{wishListId}(wishListId=${wishListId})}" id="save-other-user-wishlist">
        <button type="submit">Сохранить</button>
      </form>
    </section>

    <section id="wishes">
      <article class="wish other no-img" th:each="wish : ${wishes}">
        <section class="wish-description">
          <p class="wish-name" th:text="${wish.getName()}"></p>
          <p class="wish-price" th:text="${wish.getPrice()} + ' руб.'" th:if="${wish.getPrice() != null}"></p>
        </section>
        <p th:each="status : ${T(com.example.wishlist.enums.WishStatus).values()}"
           th:text="${status.displayValue}"
           th:if="${wish.getStatus()} == ${status}"
           th:class="${wish.getStatus() == T(com.example.wishlist.enums.WishStatus).Taken} ? 'wish-status taken' : 'wish-status'"></p>
      </article>
    </section>
  </section>
</main>

</body>
</html>