<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <meta charset="UTF-8">
</head>
<body>

<form th:action="@{/user/registration}" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> First name : <input type="text" name="firstName"/> </label></div>
    <div><label> Last name : <input type="text" name="lastName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>
