<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>WillGiveDescription</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
    <div id="nav-bar">
        <img src="/img/logo.png" alt="Logo" id="logo">
        <a>Мои вишлисты</a>
        <a>Буду дарить</a>
    </div>
    <div id="profile">
        <img src="/img/avatar-default.jpg" alt="avatar" id="avatar">
        <div>
            <a>Профиль</a>
            <a>Выход</a>
        </div>
    </div>
</header>
<div id="layout">
    <div id="will-give">
        <div class="wish will-give-wish">
            <img src="/img/car.jpg" alt="" class="wish-img">
            <div class="wish-description">
                <p class="wish-name">Машина</p>
                <p class="wish-price">1,5 млн ₽</p>
            </div>
            <div class="text-with-icon">
                <img src="/img/user-icon.png" alt="">
                <p>yulkarpova</p>
            </div>
            <div class="text-with-icon">
                <img src="/img/clock.png" alt="">
                <p>20 мая 2023</p>
            </div>
        </div>
    </div>
    <div id="wish-description">
        <div id="info">
            <img src="/img/car.jpg" alt="">
            <div id="properties">
                <p>Машина</p>
                <p>1,5 млн ₽</p>
                <p>car.ru</p>
                <p>Приоритет: Высокий</p>
            </div>
        </div>
        <p>Хочу тачку чтобы гонять под забивные песни</p>
        <div id="reserve-checkbox">
            <input type="checkbox" id="reserved" name="reserved" checked>
            <label for="reserved">Забронировать</label>
        </div>
    </div>
</div>
</body>
</html>